<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adamlincoln.android.arrowforgithub"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.adamlincoln.android.arrowforgithub.presentation.app.AppApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Colour"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:label="@string/activity_splash_title"
            android:name="com.adamlincoln.android.arrowforgithub.presentation.splash.SplashActivity"
            android:theme="@style/AppTheme.NoColour"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/activity_home_title"
            android:name="com.adamlincoln.android.arrowforgithub.presentation.home.HomeActivity"
            />
    </application>
</manifest>